<div class='game'>
  <div class='game-img'>
    <img src='{{image}}' />
  </div>
  <div class='game-info'>
    <h1>{{name}}</h1>
    <p><span>Platform: </span>{{platform}}</p>
    <p><span>Genre: </span>{{genre}}</p>
    <p><span>Price: </span>${{price}}</p>
  </div>
  <a href='/games/details/{{_id}}' class='btn-details'>Details</a>
</div>