<li class='card'>
  <img src='{{image}}' />
  <p>
    <strong>Name: </strong><span class='name'>{{name}}</span>
  </p>
  <p>
    <strong>Location: </strong><span class='location'>{{location}}</span>
  </p>
  <p><strong>Need of:</strong><span class='need-of'>{{need}}</span></p>
  <a class='details-btn' href='/posts/details/{{_id}}'>Details</a>
</li>