@model ICollection<BookViewModel>
@{
    ViewBag.Title = "All Books";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var book in Model)
    {
        <div class="card col-4" style="width: 20rem; margin: 10px">
            <img class="card-img-top" style="width: 18rem;"
             src="@book.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@book.Title</h5>
                <p class="mb-0">Author: @book.Author</p>
                <p class="mb-0">Rating: @book.Rating</p>
                <p>Category: @book.Category.Name</p>
            </div>

            <form class="input-group-sm" asp-controller="Books" asp-action="AddToCollection" asp-route-bookId="@book.Id">
                <input type="submit" value="Add to Collection" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div>